@import "variable";
.introducao {
  margin-top: 9.375rem;
  @include flex-container;

  &--container {
    @include flex-container;
  }
  &--titulo {
    font-size: 1.813rem;
    text-align: center;
    margin: 1.25rem 3.125rem;
  }
  &--titulo-color {
    color: #bd00ff;
  }
  &-cv {
    padding: 10px 20px;
    background: #fefefe;
    text-decoration: none;
    font-weight: 700;
    color: #252525;
    border-radius: 1.125rem;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }
  &-cv:hover {
    color: #bd00ff;
    transform: scale(0.95);
  }
  @include tablet {
    & {
      margin-top: 9.375rem;
      display: flex;
      flex-direction: row;
      align-items: inherit;
      justify-content: space-around;
      margin-bottom: 6.25rem;
    }
    img {
      max-width: 50%;
    }
  }
  @include pc{
    & {
      margin-top: 9.375rem;
      display: flex;
      flex-direction: row;
      align-items: inherit;
      justify-content: space-around;
      margin-bottom: 6.25rem;
  
      & img {
        max-width: 30%;
      }
      &--container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      &--titulo-diminuir {
        font-size: 1.563rem;
        color: rgba(254, 254, 254, 0.6);
      }
    }
  }
}

.sun {
  animation: solRotation 2s linear infinite;
}

@keyframes solRotation {
  to {
    transform: rotate(360deg);
  }
}
