---
const year = new Date().getFullYear();
---

<footer class="bg-[#2e2e38] text-muted-foreground py-10 mt-20">
  <div class="container mx-auto px-4 flex flex-col lg:flex-row items-center justify-between gap-4 text-sm">
    <p class="text-center lg:text-left">
      © {year} - GabeStack - Todos os direitos reservados.
    </p>
  </div>
</footer>

